<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Event Time{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.tailwindcss.com"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-[Inter]">
        {% set route = app.request.get('_route') %}

        <header class="border-b">
            <div class="max-w-5xl mx-auto px-3">
                <div class="flex items-center justify-between h-12">
                    <a class="inline-flex items-center" href="{{ path('app_home') }}">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                        </svg>

                        <span class="text-lg ml-3 font-bold">Event Time</span>
                    </a>

                    <nav>
                        <ul class="flex space-x-4">
                            <li>
                                <a class="text-sm {{ route == 'app_home' ? 'font-bold' }}" href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li>
                                <a class="text-sm {{ route == 'app_event' or route == 'app_event_show' ? 'font-bold' }}" href="{{ path('app_event') }}">Evénements</a>
                            </li>
                            <li>
                                <a class="text-sm py-2 px-4 rounded-lg font-semibold bg-gray-900 text-white hover:bg-gray-800" href="{{ path('app_event_create') }}">Créer un événement</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="max-w-5xl mx-auto px-3">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <div class="max-w-5xl mx-auto px-3">
                <p class="text-center text-sm">Copyright &copy {{ 'now' | date('Y') }} Event Time.</p>
            </div>
        </footer>
    </body>
</html>
